In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

## Model optimization

below you will see my three attempts to raise the model score from the previous note book. In this notebook you will see me copying the code from the Starter_Code notebook, and will be adjusting the input data to ensure that there are no variables or outliers that are causing confusion in the model.

In [16]:
#Drop un needed rows
application_df1 = application_df.drop(["EIN", "NAME"], axis=1)

In [17]:
application_df1.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

## First Attempt
Below you will see my first attempt to raiss the model score: I will change the binning threshold numbers to create more features in the models and perhaps increase the score.

In [18]:
application_df1["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [19]:
application_df1["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [20]:
'''
below if the original code that puts rare rows into categoriesin the APPLICATION_TYPE column. <= 1200 was the original number I will change it to 
500 resulting in more features after one-hot encoding
'''

type_df = application_df1.apply(lambda x: x.mask(x.map(x.value_counts())<=500, 'other') if x.name=='APPLICATION_TYPE' else x)
type_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [21]:
'''
In the original code that puts rare rows into categories 
in the Classification column, was <= 4000 
was the original number. I will change it to 
7000 resulting in more features after one-hot encoding
'''

application_df2 = type_df.apply(lambda x: x.mask(x.map(x.value_counts())<=4000, 'other') if x.name=='CLASSIFICATION' else x)

In the previous notebook the one-hot encoding reulted in 36 features. below there is an increase in columns to 42.

In [22]:
numeric_df = pd.get_dummies(application_df2)
numeric_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [23]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = numeric_df["IS_SUCCESSFUL"]
X = numeric_df.drop("IS_SUCCESSFUL", axis=1)



# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [24]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE

nn_model.add(tf.keras.layers.Dense(units=15, activation="relu", input_dim=41))

# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=25, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 15)                630

 dense_4 (Dense)             (None, 25)                400

 dense_5 (Dense)             (None, 1)                 26

=================================================================
Total params: 1,056
Trainable params: 1,056
Non-trainable params: 0
_________________________________________________________________

In [26]:
# Compile the model
#  YOUR CODE GOES HERE

nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn_model.fit(X_train_scaled,y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7350
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7345
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7348
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7340
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7347
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7341
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7349
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7344
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7351
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7343
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7343
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7348
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7342
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7348
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7349
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7350
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7350
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7348
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7352
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7354
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7356
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7347
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7356
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7350
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7350
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7345
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7353
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7361
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7357
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7348
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7350
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7347
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7351
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7353
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7355
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7365
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7360
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7353
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7343
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7364
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7343
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7367
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7359
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7358
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7352
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7360
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7346
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7359
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7364
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7367
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7360
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7363
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7359
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7362
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7362
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7365
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7368
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7366
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7359
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7355
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7367
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7369
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7352
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7370
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7371
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7360
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7359
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7358
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7361
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7360
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7355
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7347
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7365
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7360
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7369
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7371
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7370
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7367
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7372
Epoch 81/100

804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7365
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7369
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7367
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7362
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7372
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7368
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7365
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7365
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7367
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7367
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7371
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7369
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7369
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7359
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7373
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7375
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7365
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7359
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7366
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7366

In [36]:
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5628 - accuracy: 0.7259 - 294ms/epoch - 1ms/step
Loss: 0.562820315361023, Accuracy: 0.7259474992752075

In [37]:
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5628 - accuracy: 0.7259 - 292ms/epoch - 1ms/step
Loss: 0.562820315361023, Accuracy: 0.7259474992752075

In [38]:
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5628 - accuracy: 0.7259 - 292ms/epoch - 1ms/step
Loss: 0.562820315361023, Accuracy: 0.7259474992752075